.container {
    width: 100%;
}

.sinister_container1 {
    width: 1446px;
    height: 374px;
    left: -6px;
    top: 124px;

    background: url("../../imgs/backgound_Sinistro.png");
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-repeat: no-repeat;
}

.title_container1 {

    width: 576px;
    height: 186px;

    margin-left: 30%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    color: #FFFFFF;
}

.text_container1 {

    width: 576px;
    height: 186px;
    left: 432px;
    top: 165px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;

    padding-bottom: 20%;
    margin-left: 30%;

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    color: #FFFFFF;
}

.btn1 {

    position: absolute;
    width: 359px;
    height: 48px;
    left: 538px;
    top: 351px;

    background: #53ADEF;
    border-radius: 8px;
    border-style: none;

    text-decoration: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    color: #FFFFFF;
}

.sinister_container2 {

    width: 1440px;
    height: 232px;

    background: #E7E7E7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.text_container2 {

    width: 576px;
    height: 186px;
    left: 432px;
    top: 488px;

    margin-left: 30%;
    padding-bottom: 2%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 30px;
    /* or 111% */

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    color: #000000;
}

.btn2 {
    position: absolute;
    width: 359px;
    height: 48px;
    left: 538px;
    top: 660px;

    background: #56CF37;
    border-radius: 8px;
    border-style: none;

    text-decoration: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    color: #FFFFFF;
}

.card_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1%;
}

.card_1 {

    width: 190px;
    height: 177px;
    left: 432px;
    top: 740px;
    margin-right: 10%;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
}

.card1_text {
    width: 105px;
    height: 31px;
    left: 474px;
    top: 850px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 30px;
    /* or 300% */

    margin-left: 25%;

    display: flex;
    align-items: center;
    text-align: center;


    color: #000000;

}

.card_2 {

    width: 190px;
    height: 177px;
    left: 826px;
    top: 740px;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
}

.card2_text {

    width: 105px;
    height: 31px;
    left: 868px;
    top: 850px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 10px;
    /* or 100% */

    margin-left: 22%;

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    color: #000000;
}

.card_button {
   
    width: 105px;
    height: 27px;
    left: 474px;
    top: 881px;

    background: #53ADEF;
    border-radius: 8px;
    border-style: none;

    margin-left: 2%;
    /* margin-bottom: 1.5%; */

    position: absolute;
    width: 105px;
    height: 31px;
    left: 475px;
    top: 879px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 30px;
    /* or 300% */

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-decoration: none;

    color: #FFFFFF;
}

.card_button2 {
   
    width: 105px;
    height: 27px;
    left: 474px;
    top: 881px;

    background: #53ADEF;
    border-radius: 8px;
    border-style: none;

    margin-left: 25%;
    /* margin-bottom: 1.5%; */

    position: absolute;
    width: 105px;
    height: 31px;
    left: 475px;
    top: 879px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 30px;
    /* or 300% */

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-decoration: none;

    color: #FFFFFF;
}