.container {
    width: 100%;
    background: url("../../imgs/background_crend.png");
    background-repeat: no-repeat;
}

.h1 {

    width: 303px;
    height: 85px;
    left: 567px;
    top: 98px;

    margin-left: 40%;
    margin-top: 2%;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 47px;
    align-items: center;
    text-align: center;
    justify-content: center;

    color: #ffffff;
}

.crend_container {
    width: 471px;
    height: 613px;
    left: 485px;
    top: 223px;

    margin-left: 34%;
    align-items: center;
    justify-content: center;

    background: #FEFEFE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 32px;
}

.btn_confirm {
    position: absolute;
    width: 155px;
    height: 44px;
    left: 643px;
    top: 814px;

    background: #36FF03;
    border-radius: 8px;


    margin-left: 0.5%;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-style: none;

    color: #FFFFFF;
}

.btn_conteiner {
    position: absolute;
    margin-top: 2%;
    margin-left: 1%;

    border-right: 1px solid #FF6700;
    padding-right: 1%;
}

.btn_container2 {
    position: absolute;
    margin-left: 15%;
    margin-top: 2%;
}

.btn_add {

    width: 90px;
    height: 90px;
    left: 675px;
    top: 572px;

    margin-top: 15%;
    margin-left: 22%;
    background: none;
    border-style: none;
}

.p {

    width: 154px;
    height: 86px;
    left: 783px;
    top: 532px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    color: #000000;
}