.container {
    width: 1440px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
    z-index: 0;
}

.min-height {
    min-height: 79%;
}

.start {
    justify-content: flex-start;
}

.column {
    flex-direction: column;
    justify-content: flex-start;
}