/* .btn {
    width: 164px;
    height: 48px;
    left: 1120px;
    top: 24px;

    justify-content: center;
    margin-top: 10%;
    
    background: #53ADEF;
    border-radius: 8px;
    border-style: none;

    text-decoration: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;

} */

.form_control {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.form_control label {
    margin-bottom: .6em;
}

.form_control select {
    padding: .7em;
    border-radius: 0;
    border: none;
}
